<div class="box" id="heading">
  <h1>DIVISIÓN</h1>
</div>
<div style="text-align: center">
  <form>
  <div>
    <label>Nomber One</label>
    <br />
    <input
      type='number'
      name='numberOne'
      placeholder='Escribe un número'
      [(ngModel)]="numberOne"/>
  </div>
  <br />
  <div>
    <label>Nomber Two</label>
    <br />
    <input
      type="number"
      name="numberTwo"
      placeholder="Escribe un número"
      [(ngModel)]="numberTwo"
    />
  </div>
  <br />
  <button type="submit" style="cursor: pointer" (click)="irDiv()">R</button>
  <button type="submit" style="cursor: pointer" (click)="irInicio()">I</button>
  </form>
  <p>el resultado es: {{resultado}}</p>
</div>
